<ion-view view-title="Home" ng-controller="HomeCtrl" cache-view="false" >
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive rightNavBarButton" style="margin-right: 10px;" ng-click="scanQRFromHomePage()" ng-show="userType != 'Sender'">
      <i class="icon ion ion-qr-scanner"></i>
    </button>
    <button class="button button-clear button-positive rightNavBarButton" ng-click="openFilterModal()">
      Filter
    </button>
  </ion-nav-buttons>
  <ion-content class="home-with-background">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="refreshPackages()" refresher-class="scroll-refresher">
    </ion-refresher>
    <div class="list" ng-show="packages.length > 0 && userType == 'Sender'">
      <div class="item item-divider" ng-show="(packages | filter : { status: 0 }).length > 0">
        Draft
      </div>
      <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'edit')" ng-repeat="package in packages | filter:{ status: 0 }">
        <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
        <h2>{{package.receiver[0].name}}</h2>
        <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        <p ng-show="package.receiver[0].email != ''">Email : {{package.receiver[0].email}}</p>
        <p ng-show="package.receiver[0].phone != ''">Phone : {{package.receiver[0].phone}}</p>
      </a>

      <div class="item item-divider" ng-show="(packages | filter : { status: 1 }).length > 0">
        Ready to Send
      </div>
      <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'edit')" ng-repeat="package in packages | filter:{ status: 1 }">
        <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
        <h2>{{package.receiver[0].name}}</h2>
        <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        <p ng-show="package.receiver[0].email != ''">Email : {{package.receiver[0].email}}</p>
        <p ng-show="package.receiver[0].phone != ''">Phone : {{package.receiver[0].phone}}</p>
      </a>
      <div class="item item-divider" ng-show="(packages | filter : { status: 2 }).length > 0">
        To be Accepted by Org. Hub
      </div>
      <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in packages | filter:{ status: 2 }">
        <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">

        <h2>{{package.receiver[0].name}}</h2>
        <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
      </a>
      <div class="item item-divider" ng-show="(packages | filter : { status: 3 }).length > 0">
        At Org. Hub
      </div>
      <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in packages | filter:{ status: 3 }">
        <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">

        <h2>{{package.receiver[0].name}}</h2>
        <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
      </a>
      <div class="item item-divider" ng-show="(packages | filter : { status: 4 }).length > 0">
        Picked up by Driver
      </div>
      <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in packages | filter:{ status: 4 }">
        <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">

        <h2>{{package.receiver[0].name}}</h2>
        <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
      </a>
    </div>
    <div class="list" style="text-align:center" ng-show="packages.length == 0 && userType == 'Sender'">
      <div class="noPackage">No packages found
        <img src="img/vector-box.jpg" style="opacity: 0.1;" /></div>
    </div>
    <uib-accordion close-others="oneAtATime" ng-show="userType == 'Hub' || userType == 'Driver'">
      <!--<button class="button button-positive avHubsScanButton" ng-click="scanQRFromHomePage()">
        <i class="icon ion ion-qr-scanner"></i>  Scan QR Code
      </button>-->
      <div class="list" style="text-align:center" ng-show="toMePackages.length == 0 && packages.length == 0">
        <div class="noPackage">No packages found
          <img src="img/vector-box.jpg" style="opacity: 0.1;" /></div>
      </div>
      <!--- Send To Me  -->
      <uib-accordion-group is-open="statusToMe.open" ng-show="toMePackages.length > 0" style="margin-top:10px !important">
        <uib-accordion-heading>
          <span>Sent To Me <i class="pull-right ion accordionTitles" ng-class="{'ion-android-remove': statusToMe.open, 'ion-android-add': !statusToMe.open}"></i>
        </uib-accordion-heading>
        <div class="item item-divider" ng-show="(toMePackages | filter : { status: 2  }).length > 0">
          Pending to Accept
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in toMePackages | filter:{ status: 2 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        </a>
        <div class="item item-divider" ng-show="(toMePackages | filter : { status: 3  }).length > 0">
          Accepted
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in toMePackages | filter:{ status: 3 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        </a>
        <div class="item item-divider" ng-show="(toMePackages | filter : { status: 4  }).length > 0">
          Picked up by Driver
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in toMePackages | filter:{ status: 4 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        </a>
      </uib-accordion-group>
      <!-- Send From Me -->
       <uib-accordion-group is-open="statusFromMe.open" ng-show="packages.length > 0">
        <uib-accordion-heading>
          <span>Sent From Me <i class="pull-right ion accordionTitles" ng-class="{'ion-android-remove': statusFromMe.open, 'ion-android-add': !statusFromMe.open}"></i>
        </uib-accordion-heading>
        <div class="item item-divider" ng-show="(packages | filter : { status: 0 }).length > 0">
          Draft
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'edit')" ng-repeat="package in packages | filter:{ status: 0 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
          <p ng-show="package.receiver[0].email != ''">Email : {{package.receiver[0].email}}</p>
          <p ng-show="package.receiver[0].phone != ''">Phone : {{package.receiver[0].phone}}</p>
        </a>

        <div class="item item-divider" ng-show="(packages | filter : { status: 1 }).length > 0">
          Ready to Send
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'edit')" ng-repeat="package in packages | filter:{ status: 1 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">
          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
          <p ng-show="package.receiver[0].email != ''">Email : {{package.receiver[0].email}}</p>
          <p ng-show="package.receiver[0].phone != ''">Phone : {{package.receiver[0].phone}}</p>
        </a>
        <div class="item item-divider" ng-show="(packages | filter : { status: 2 }).length > 0">
          To be Accepted by Org. Hub
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in packages | filter:{ status: 2 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">

          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        </a>
        <div class="item item-divider" ng-show="(packages | filter : { status: 3  }).length > 0">
          At Org. Hub
        </div>
        <a class="item item-thumbnail-left transItem" ng-click="editPackage(package._id,'readonly')" ng-repeat="package in packages | filter:{ status: 2 }">
          <img ng-src="http://46.101.115.69:9096/uploads/packageImages/thumbnail/{{package.packageImage}}">

          <h2>{{package.receiver[0].name}}</h2>
          <p>{{package.receiver[0].address[0].address1 + ' ' + package.receiver[0].address[0].city + ' ' + package.receiver[0].address[0].state + ' ' + package.receiver[0].address[0].zipCode}}</p>
        </a>
      </uib-accordion-group>
    </uib-accordion>
    <script type="text/ng-template" id="openFilterModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title">Select Filter : </h3>
      </div>
      <div class="modal-body">
        <!-- Status Filter -->
        <div class="card">
          <div class="item item-divider" style="height: 30px">
            <div class="checkbox showOpenHubsChck" style="margin-top:0px !important;">
              <label>
                <input type="checkbox" class="smallCheckbox" ng-model="statusFilter" ng-click="statusCheckboxClicked()" />
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000;font-weight: bold;">Status Filter</span>
              </label>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div>
              <p>
                <input type="checkbox" ng-model="status.draft" ng-click="statusFilterClicked()" style="margin-top: -2px !important;width:20px;height:20px">
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000">Draft</span>
              </p>
              <p>
                <input type="checkbox" ng-model="status.readyToSend" ng-click="statusFilterClicked()" style="margin-top: -2px !important;width:20px;height:20px">
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000">Ready to Send</span>
              </p>
              <p>
                <input type="checkbox" ng-model="status.onRoad" ng-click="statusFilterClicked()" style="margin-top: -2px !important;width:20px;height:20px">
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000">On Road</span>
              </p>
              <p>
                <input type="checkbox" ng-model="status.driverPicked" ng-click="statusFilterClicked()" style="margin-top: -2px !important;width:20px;height:20px">
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000">Driver Picked Up</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Date Filter -->
        <div class="card">
          <div class="item item-divider" style="height: 30px">
            <div class="checkbox showOpenHubsChck" style="margin-top:0px !important;">
              <label>
                <input type="checkbox" class="smallCheckbox" ng-model="dateFilter">
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000;font-weight: bold;">Creation Date Filter</span>
              </label>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div>
              <div class="container-fluid padZero">
                <div class="row-fluid">
                  <div class="col-xs-5 col-md-5 padZero">
                    <span>Today</span>
                  </div>
                  <div class="col-xs-7 col-md-7 padZero">
                    <input type="radio" id="date_0" name="date" ng-model="radioDate" value="today" ng-checked="date == 'today'" ng-click="dateFilterClicked()" class="filterRadio" />
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="col-xs-5 col-md-5 padZero">
                    <span>Last Week</span>
                  </div>
                  <div class="col-xs-7 col-md-7 padZero">
                    <input type="radio" id="date_1" name="date" ng-model="radioDate" value="lastWeek" ng-checked="date == 'lastWeek'" ng-click="dateFilterClicked()" class="filterRadio" />
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="col-xs-5 col-md-5 padZero">
                    <span>Last Month</span>
                  </div>
                  <div class="col-xs-7 col-md-7 padZero">
                    <input type="radio" id="date_2" name="date" ng-model="radioDate" value="lastMonth" ng-checked="date == 'lastMonth'" ng-click="dateFilterClicked()" class="filterRadio" />
                  </div>
                </div>
                <div class="row-fluid">
                  <div class="col-xs-5 col-md-5 padZero">
                    <span>Last Year</span>
                  </div>
                  <div class="col-xs-7 col-md-7 padZero">
                    <input type="radio" id="date_3" name="date" ng-model="radioDate" value="lastYear" ng-checked="date == 'lastYear'" ng-click="dateFilterClicked()" class="filterRadio" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Direction Filter -->
        <div class="card">
          <div class="item item-divider" style="height: 30px">
            <div class="checkbox showOpenHubsChck" style="margin-top:0px !important;">
              <label>
                <input type="checkbox" class="smallCheckbox" ng-click="directionCheckboxClicked()" ng-model="directionFilter">
                <span class="showOpenHubsSpn" style="margin-top:-0px !important;color:#000;font-weight: bold;">Direction</span>
              </label>
            </div>
          </div>
          <div class="item item-text-wrap">
            <div>
              <div class="container-fluid padZero">
                <div class="row-fluid">
                  <div class="col-xs-5 col-md-5 padZero">
                    <span>From me</span>
                  </div>
                  <div class="col-xs-7 col-md-7 padZero">
                    <input type="checkbox" ng-model="fromMe" ng-click="directionFilterClicked()" style="margin-top: -2px !important;width:20px;height:20px">
                  </div>
                </div>
                <div class="row-fluid" style="margin-top: 10px">
                  <div class="col-xs-5 col-md-5 padZero" style="margin-top: 10px;">
                    <span>To Me</span>
                  </div>
                  <div class="col-xs-7 col-md-7 padZero" style="margin-top: 10px;">
                    <input type="checkbox" ng-model="toMe" ng-click="directionFilterClicked()" ng-model="status.draft" style="margin-top: -2px !important;width:20px;height:20px">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary customColor" type="button" ng-click="ok(opentimepicker)">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>
    </script>
  </ion-content>
</ion-view>
