<ion-view view-title="Edit Package" ng-controller="EditPackageCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-clear button-positive rightNavBarButton" ng-click="saveAsDraft()" ng-show="status == 0 || status == 1">
            Save as Draft
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="container-fluid padZero">
            <div class="row-fluid">
                <div class="col-xs-12 col-md-12 padZero">
                    <form class="list" name="ProfileForm">

                        <div class="list wrapText">
                            <div ng-click="showPackagePicture()" style="position: relative;"><img src="{{packagePicture}}" width="300" /></div>
                            <div ng-show="mode =='edit'" class="changeProfilePicture" ng-click="addMedia()"><span class="changeProfilePictureSpan">Change Package Picture</span></div>
                        </div>
                        <div>
                            <div class="item item-divider" style="margin-bottom:10px;">
                                Package Receiver:
                            </div>
                            <!-- Status -->
                            <div class="form-group form-groupForProfile" ng-show="newPackage.status != 0 && newPackage.status != 1">
                                <a class="item" href="#" ng-show="mode =='readonly'"><div ><b>Status :</b>{{ friendlyStatus }}</div></a>
                            </div>
                            <!-- Hub -->
                            <div class="form-group form-groupForProfile" ng-show="(newPackage.status == 2 || newPackage.status == 3 || newPackage.status == 5) && newPackage.hubs != undefined">
                                <a class="item" ng-href="#/app/hubDetail/{{ newPackage.hubs._id}}/{{ newPackage._id }}/fromDb" ng-show="mode =='readonly'"><div ><b>Hub :</b>{{ newPackage.hubs.name }} (Click for detail)</div></a>
                            </div>
                            <!-- Driver -->
                            <div class="form-group form-groupForProfile" ng-show="newPackage.status == 4">
                                <a class="item" href="#" ng-show="mode =='readonly'"><div ><b>Driver :</b>{{ newPackage.drivers.name }}</div></a>
                            </div>
                            <!-- Name -->
                            <div class="form-group form-groupForProfile">
                                <input type="text" ng-show="mode =='edit'"  class="form-control form-controlForProfile" placeholder="Name" ng-model="newPackage.name">
                                <a class="item" href="#" ng-show="mode =='readonly'"><div ><b>Name :</b>{{newPackage.name}}</div></a>
                            </div>
                            <!-- Email -->
                            <div class="form-group form-groupForProfile">
                                <input type="text" ng-show="mode =='edit'"  class="form-control form-controlForProfile" placeholder="Email" ng-model="newPackage.email">
                                <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>Email :</b>{{newPackage.email}}</div></a>
                            </div>
                            <!-- Phone -->
                            <div class="form-group form-groupForProfile">
                                <input type="text" ng-show="mode =='edit'" class="form-control form-controlForProfile" placeholder="Phone 123-456-7890" ng-keyup="formatPhone($event)" ng-model="newPackage.phone">
                                <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>Phone :</b>{{newPackage.phone}}</div></a>
                            </div>
                            <!-- Address 1-->
                            <div class="form-group form-groupForProfile">
                                <input type="text" ng-show="mode =='edit'" class="form-control form-controlForProfile" placeholder="Address 1" ng-model="newPackage.address1">
                                <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>Address 1 :</b>{{newPackage.address1}}</div></a>
                            </div>
                            <!-- Address 2-->
                            <div class="form-group form-groupForProfile">
                                <input type="text" ng-show="mode =='edit'" class="form-control form-controlForProfile" placeholder="Address 2" ng-model="newPackage.address2">
                                <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>Address 2 :</b>{{newPackage.address2}}</div></a>
                            </div>
                            <!-- City-->
                            <div class="form-group form-groupForProfile">
                                <div class="treelineCity" ng-if="mode =='edit'">
                                     <angucomplete-alt id="companyCity"

                                      placeholder="City"
                                      pause="100"
                                      selected-object="newPackage.city"
                                      local-data="cities"
                                      search-fields="name"
                                      title-field="name"
                                      minlength="1"
                                      input-class="form-control form-controlForProfile "
                                      ng-model="newPackage.city"
                                      initial-value="initialCity"/>

                                  </div>

                                      <!-- State -->
                                      <input type="text" ng-show="mode =='edit'" class="form-control form-controlForProfile treelineState" placeholder="State" ng-model="newPackage.state">

                                      <!-- Zip Code -->
                                      <input type="text" ng-show="mode =='edit'" class="form-control form-controlForProfile treeline" placeholder="ZIP Code" ng-model="newPackage.zipcode">

                                </div>
                            <div class="form-group form-groupForProfile" ng-if="mode =='readonly'">
                              <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>City :</b>{{initialCity}}</div></a>
                            </div>
                          <div class="form-group form-groupForProfile" ng-if="mode =='readonly'">
                            <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>State :</b>{{newPackage.state}}</div></a>
                          </div>
                          <div class="form-group form-groupForProfile" ng-if="mode =='readonly'">
                            <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>ZIP Code :</b>{{newPackage.zipcode}}</div></a>
                          </div>
                            </div>
                            <!-- Comment -->
                            <div class="form-group form-groupForProfile">
                                <textarea ng-show="mode =='edit'"  class="form-control form-controlForProfile" placeholder="Comment" ng-model="newPackage.comment" rows="8" cols="10"></textarea>
                                <a class="item" href="#"  ng-show="mode =='readonly'"><div><b>Comment :</b>{{newPackage.comment}}</div></a>
                            </div>
                        </div>
                        <div class="spacer formSpacer"></div>
                        <button class="button button-energized button-block regButton" ng-show="mode =='edit'" ng-disabled="newPackage.name == undefined || newPackage.name == '' || newPackage.email == undefined || newPackage.email == ''  || newPackage.phone == undefined || newPackage.phone == ''  || newPackage.address1 == undefined || newPackage.address1 == ''  || (newPackage.city == undefined && initialCity == undefined) || newPackage.city == ''  || newPackage.state == undefined || newPackage.state == '' || newPackage.zipcode == undefined || newPackage.zipcode == '' " ng-click="updatePackageButton()"><i class="ion-paper-airplane"></i><span class="marLeft10">Ready to Send</span></button>
                        <!-- Scan for Hub and Driver -->
                        <button class="button button-energized button-block regButton" ng-show="mode =='readonly' && userType != 'Sender' && ((newPackage.status == 2 && userType == 'Hub') || (newPackage.status == 3 && userType == 'Driver')) " ng-click="scanFromPackageButton()"><i class="ion-android-checkmark-circle"></i><span class="marLeft10">Take Care This !</span></button>
                        <!-- Scan for Sender -->
                        <button class="button button-energized button-block regButton" ng-show="mode =='readonly' && userType == 'Sender' && (newPackage.status == 0 || newPackage.status == 1)" ng-click="scanFromPackageForSender()"><i class="ion-qr-scanner"></i><span class="marLeft10">Scan Qr Code</span></button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
