<ion-view view-title="Available Hubs" class="specificHeader" ng-controller="HubsCtrl" cache-view="false" hide-back-button="true">
	<ion-nav-buttons side="right" class="specificHeaderButton">
		<div class="checkbox showOpenHubsChck">
		  <label style="margin-top: -10px;"><input type="checkbox" ng-click="showOpens()"><span class="showOpenHubsSpn">List Open Hubs</span></label>
		</div>
    </ion-nav-buttons>
    <ion-content>
	    <ion-refresher
	    	pulling-text="Pull to refresh..."
	    	on-refresh="refreshHubs()">
	  	</ion-refresher>
        <div class="list" ng-show="hubs.length > 0">
		  	<a class="item item-thumbnail-left" href="#" ng-click="showDetail(hub._id)" ng-repeat="hub in hubs">
		      <img ng-src="http://46.101.115.69:9096/uploads/images/thumbnail/{{hub.profilePicture}}" >

		      <h2>{{hub.contactPerson}}</h2>
		      <p>{{hub.address[0].address1 + ' '  + hub.address[0].address2 + ' ' + hub.address[0].city.title + ' ' + hub.address[0].state + ' ' + hub.address[0].zipCode}}</p>
		      <p ng-show="hub.email != ''">Email : {{hub.email}}</p>
		      <p ng-show="hub.workPhone != ''">Phone : {{hub.workPhone}}</p>
		    </a>
		<div class="list" style="text-align:center" ng-show="hubs.length == 0">
			<div class="noPackage">No Hubs found
				<img src="img/noHubs.png" style="opacity: 0.1;" /></div>
		</div>
    </ion-content>
</ion-view>
