<ion-view ng-controller="ForgotVerifyCtrl" cache-view="false">
    <ion-content padding="true" class="login-background" style="margin-top:0px !important;">
        <div class="login-align-center">
            <div class="container-fluid">
                <div class="row-fluid login-logo">
                    <img src="img/logo.png" width="100%" />
                </div>
                <div class="row-fluid login-slogan">
                    <span class="motto">A Better Way To Ship</span>
                </div>
                <div class="row-fluid">
                    <form class="list">
                      <div class="transparentFormBgForgotVerify"></div>
                        <div class="list">
                          <div class="form-group">
                            <div class="input-group" style="border: 1px solid;border-radius: 4px;border-color: lightgray;">
                              <span class="input-group-addon size-21" style="border: 0px !important;"><i class="icon ion ion-person"></i></span>
                              <input type="text" ng-model="email" class="form-control" placeholder="Email" value="{{email}}" disabled style="padding: 5px !important;">
                            </div>
                          </div>
                        </div>
                        <div class="list" style="margin-top: -20px;margin-bottom: 10px !important;">
                          <div class="form-group">
                            <div class="input-group" style="border: 1px solid;border-radius: 4px;border-color: lightgray;">
                              <span class="input-group-addon size-21" style="border: 0px !important;"><i class="icon ion ion-key"></i></span>
                              <input type="text" ng-model="restoreCode" class="form-control" placeholder="Restore Code" style="padding: 5px !important;">
                            </div>
                          </div>
                        </div>
                        <div class="spacer" style="width: 300px; height: 0px;"></div>
                        <button class="button button-positive button-block" ng-click="forgotVerifySend(email,restoreCode)" style="background-color: #170F4A !important;"><i class="icon ion-ios-paperplane-outline"></i><span style="margin-left:10px;">Confirm</span></button>
                    </form>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
